body{
    background: linear-gradient(-45deg, #76ee52, #e7cd3c, #d52385, #4f8176);
}

.img-size{
    width: 40px;
    margin: auto;    
}
.fondo_titulo{
    margin-top: auto;
    width: 100%;
    height:  500px;
    position: relative;
    background-image: url(../Imagenes/Perros/titulo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}
.fondo_titulo:before{
    width: 100%;
    height: 100%;
    background: rgba(78, 78, 78, 0.123);
    position: absolute;
    top: 0;
    left: 0; 
}   

.caption{
    width: auto;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.caption h1{
    font-size: 60px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 10px 5px 5px black;
    margin-bottom: 20px;
}
.caption p{
    color: rgb(255, 255, 255);
    text-shadow: 10px 5px 3px black;
    font-size: 20px;
    font-weight: 300px;
}

.subPerro{
    border-radius: 10px;
    margin: auto;
    width: 60%;
    max-width: 80%;
    margin-top: 10px;
}
.subPerro h2{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.perros{
    width: 50%;
    margin: auto;        
    margin-top: 10px;
    margin-bottom: 10px;       
    border-radius: 20px;    
}

.perros img{
    width: 100%;
    margin-bottom: 5px;    
    padding-left: 0px;
    padding-right: 0px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}
.p{
    background-color: #464646;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; 
    margin-top: 5px;
    margin-left: 5px;   
    margin-right: 5px;   
    margin-bottom: 5px;
}

.perros p{
    text-align: center;    
    margin: auto;
    color: white;
}
.sep{
    margin-bottom: 20px;
}
.btn-open-popup{
    color: #ffffff;
    background: #5f5f5f;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    max-width: 100px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-open-popup:hover{
    color: #ffffff;
    background: #303030;
    font-weight: bold;
}
.contenedor-all{
    transform: translateY(50%, 50%);
    margin-top: -500px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms; 
    background-color: black;      
}
.contenedor-tarjeta{
    width: 50%;
    height: 50%;
    top: 0;
    position: absolute;
    visibility: hidden;
    display: none;
    background-color: rgba(22,22,22,0.5);
    align-items: center;
}

.contenedor-all:target{
    position: fixed;
    visibility: visible;
    opacity: 1;
}
.popup{
    width: 800px;    
    height: 400px;
    position: relative; 
    margin-top: -800px;    
    display: flex;
    background: white;
}

.img-1{
    width: 100%;
    max-width: 400px;
    background-image: url(../Imagenes/Perros/perroA.jpg);
    background-size: cover;
}
.img-2{
    width: 100%;
    max-width: 400px;
    background-image: url(../Imagenes/Perros/perroB.jpg);
    background-size: cover;
}
.img-3{
    width: 100%;
    max-width: 400px;
    background-image: url(../Imagenes/Perros/perroC.jpg);
    background-size: cover;
}
.img-4{
    width: 100%;
    max-width: 400px;
    background-image: url(../Imagenes/Perros/perroD.jpg);
    background-size: cover;
}
.img-5{
    width: 100%;
    max-width: 400px;
    background-image: url(../Imagenes/Perros/perroE.jpg);
    background-size: cover;
}
.img-6{
    width: 100%;
    max-width: 400px;
    background-image: url(../Imagenes/Perros/perroF.jpg);
    background-size: cover;
}
.contenedor-text{
    width: 100%;
    margin-left: 440px;
    margin-right: 44px;
    margin-top: 20px;    
}
.contenedor-text h1{
    font-size: 30px;
    text-align: left;
}
.contenedor-text p{
    margin-top: 20px;
    font-size: 16px;
    margin-right: 10%;
    color: black;
    text-align: left;  
    padding: none;  
}
.btn-close-popup{
    position: absolute;
    right: -20px;
    top: -20px;
    background: #5f5f5f;
    color: white;
    border-radius: 50%;
    line-height: 10px;
    padding: 20px;
    text-decoration: none; 
    transition: all 100ms;   
}
.btn-close-popup:hover{
    color: #ffffff;
    background: #303030;
}
