body{
    background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240),rgb(245, 245, 245),rgb(250, 250, 250));
}

/* TITULO */

    /*background*/
.fondo_titulo{
    margin-top: auto;
    width: 100%;
    height:  500px;
    position: relative;
    background-image: url(../Imagenes/Menu/PELUDO_FONDO.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo_titulo:before{
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 183, 255, 0.123);
    position: absolute;
    top: 0;
    left: 0; 
}

    /*Texto en background*/
.texto-titulo{
    width: auto;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.texto-titulo h1{
    font-size: 60px;
    font-weight: 500;
    color: rgb(0, 238, 255);
    text-shadow: 10px 5px 5px black;
    margin-bottom: 20px;
}
.texto-titulo p{
    color: rgb(255, 255, 255);
    text-shadow: 10px 5px 3px black;
    font-size: 20px;
    font-weight: 300px;
}



/* EQUIPO */

    /* BACKGROUND */
#equipo{
    background-color: rgb(255, 255, 255);
}

    /* CONTENEDOR DE INFO */
#equipo::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#carrusel-equipo{
    background-color: rgb(0, 102, 255);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow:  0 0 10px rgb(0, 0, 0, 0.5);
}
.redondear{
    border-radius: 100%;
}
.redondear1{
    border-radius: 2%;
}
.text-shadow{
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.6);
}



/* SEPARADOR */
#separador{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separador .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}



/* SECCIONES */
    /* GATOS */
.seccionesGato{
    width: 100%;
    max-width: 100%;
    background-image: url(../Imagenes/Menu/fondo_seleccion_mascotas.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: absolute;
}
#texto-secciones{
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 4%;
}
.seccionesGato p{
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
}
.seccionesGato img {
    width: 100%;
    height: auto;
}
.btn1{
    background-color: transparent !important;
    color: rgb(0, 238, 255) !important;
    font-size: large;
    font-weight: 600;
    margin-top: 3%;
}



    /* PERROS */
.seccionesPerro{
    width: 100%;
    max-width: 100%;
    background: url(../Imagenes/Menu/fondo_seleccion_perro.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 40%;
}
.seccionesPerro p{
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
}
.btn2{
    background-color: transparent !important;
    color: rgb(0, 238, 255) !important;
    font-size: large;
    font-weight: 600;
    margin-top: 3%;
}