body{    
    background-color: rgb(140, 183, 247);
}

/* TITULO */

    /*background*/
.fondo_titulo{
    margin-top: auto;
    width: 100%;
    height:  500px;
    position: relative;
    background-image: url(../Imagenes/Menu/PELUDO_FONDO.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo_titulo:before{
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(0, 183, 255, 0.123);
    position: absolute;
    top: 0;
    left: 0; 
}

    /*Texto en background*/
.texto-titulo{
    width: auto;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.texto-titulo h1{
    font-size: 60px;
    font-weight: 500;
    color: rgb(0, 238, 255);
    text-shadow: 10px 5px 5px black;
    margin-bottom: 20px;
}
.texto-titulo p{
    color: rgb(255, 255, 255);
    text-shadow: 10px 5px 3px black;
    font-size: 20px;
    font-weight: 300px;
}



/* EQUIPO */

    /* BACKGROUND */
#equipo{
    padding: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

    /* CONTENEDOR DE INFO */
#equipo::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#carrusel-equipo{
    background-color: #0066ff;
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow:  0 0 10px rgb(0, 0, 0, 0.5);
}
.redondear{
    border-radius: 100%;
}
.redondear1{
    border-radius: 2%;
}
.text-shadow{
    text-shadow: 0 3px 3px rgb(0, 0, 0, 0.6);
}
.color-link{
    text-decoration: none;
    color: #ffffff;
}
.color-link:hover{
    font-weight: bold;
    color: #ffffff;
}


/* SECCIONES */
    /* GATOS */
.seccionesGato{
    background-image: url(../Imagenes/Menu/fondo_seleccion_mascotas.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}
#texto-secciones{
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 4%;
    text-align: center;
}
.seccionesGato p{
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    margin-left: 5px;
    margin-right: 5px;
}

.btn{
    background-color: transparent !important;
    color: rgb(0, 238, 255) !important;
    font-weight: 600;
    margin-top: 3%;
    font-size: 100%;
    max-width: 60%;
}
    /* PERROS */

.seccionesPerro{
    background: url(../Imagenes/Menu/fondo_seleccion_perro.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: none;
    width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.seccionesPerro p{
    color: rgb(255, 255, 255);
    font-size: 1.3vw;
    margin-left: 5px;
    margin-right: 5px;
}
